# Environment variables
.env

# Virtual environment
.venv/
venv/
env/

# Database
*.sqlite3
db.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test files
test.txt